---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'NordPress — Keep your focus, your personal hub that’s simple but enough.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started(TBD)',
        href: '#',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Navigate
      <span class="text-primary dark:text-white highlight"> Oceans</span> Refine <span class="text-primary dark:text-white highlight"> Droplets</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Keep your focus</span>, your personal hub that’s simple but enough.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Bringing back simplicity and beauty, focus should be on what matters most to you"
    subtitle="NordPress is a platform that integrates information and knowledge.Helping you accumulate knowledge and fostering personal growth."
    items={[
      {
        title: 'Your collections, your knowledge',
        description:
          'NordPress becomes your the second brain, you can collect links to your specific collection and read anytime.',
        icon: 'tabler:database',
      },
      {
        title: 'Your notes are really important',
        description:
          'You create notes, take notes - base on links or standalone - your choice.',
        icon: 'tabler:note',
      },
      {
        title: 'Reading, highlighting and noting',
        description:
          'Reading the post and highlighting what you want to do, and take a note finally.',
        icon: 'tabler:highlight',
      },
      {
        title: 'Sharing your knowledge and building your profile',
        description:
          'Sharing the collections you built to your friends and following and followed from someone - let\'s make knowledge reuseable.',
        icon: 'tabler:share',
      },
      {
        title: 'Searching links, collections, notes*',
        description:
          "Forget your notes you read before? Use **fulltext-search** to find it, and read it again.",
        icon: 'tabler:search',
      },
      {
        title: 'And more...',
        description:
          'Tags, discover and filters - everything are helping you to organize you collected and noted knowledge.',
        icon: 'tabler:dots',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  title="What services do we provide?"
  subtitle="NordPress is a platform that integrates information and knowledge. Helping you accumulate knowledge and fostering personal growth."
  items={[
    {
      title: 'Saves links',
      description:
        'TBD',
      icon: 'flat-color-icons:link',
    },
    {
      title: 'Takes notes',
      description:
        'TBD',
      icon: 'flat-color-icons:idea',
    },
    {
      title: 'Shares collections',
      description:
        'TBD',
      icon: 'flat-color-icons:share',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Features2>


  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <Content
    title="Use cases"
    subtitle="Discover how AstroWind's versatile template serves as the ideal solution for various use cases, providing tailored solutions to drive success."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 4.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      },
      {
        title: 'Benefits:',
        description: `Allow startups to quickly create professional websites without investing extensive time and resources. <br /> Make a memorable first impression with visually appealing design elements that highlight your startup's unique value proposition. <br /> Ensures your website looks stunning and works well on all devices. <br /> Engage potential investors and customers with engaging content, clear messaging, and intuitive navigation.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Startup success stories: <br /><span class="text-2xl">Launching with AstroWind</span>
      </h3>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>
</Layout>
